nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--body-margin);
    padding-right: var(--body-margin);
    padding-top: 13px;
    padding-bottom: 13px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    position: relative;
    background-color: var(--bg-color);
    z-index: 10;
}
nav ul.menu-items{
    display: inline-flex;
    gap: 20px;
}
nav ul.menu-items li {
    align-self: center;
    list-style-type: none;
    font-size: 16px;
}
nav ul.menu-items li a {
    color: white;
    transition: all 0.3s;
    position: relative;

}
nav ul.menu-items li a.active, nav ul.menu-items li a:hover {
    color: var(--link-color);
}
nav ul.menu-items li a:not(.special)::before{
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    background-color: var(--link-color);
    bottom: 0;
    left: 0;
    transition: width 0.3s linear;
}

nav ul.menu-items li a:hover:before, nav ul.menu-items li a.active::before{
    width: 90%;
}
.menu-item > .special{
    color: white;
    background-color: var(--link-color);
    border-radius: 6px;
    text-transform: capitalize;
    padding: 1rem 2rem 1rem 2rem;
    box-sizing: border-box;
    transition: all 0.3s linear;
    border: 1px solid var(--link-color);

}
.menu-item > .special:hover, .menu-item > .special.active{
    background-color: unset;
    color: var(--link-color);
}


@media  only screen and (max-width: 768px) {
    nav{
        padding-left: 10%;
        padding-right: 10%;
    }
    nav ul.menu-items li {
        align-self: unset;
        width: fit-content;
    }
    .menu-items{
        flex-direction: column;
        position: absolute;
        left: 0;
        padding-top: 30px;
        top: 71px;
        padding-bottom: 30px;
        width: 100%;
        background-color: var(--bg-color);
        box-shadow: 0 4px 4px rgba(0,0,0,0.25);
        animation: openMenu 0.5s linear forwards;
        z-index: 9;
    }
    @keyframes openMenu {
        from{
            left: 100%;
        }
        to{
            left: 0;
        }
    }
   
}

