<div class="container hero">
    <div class="row align-items-center">
        <div class="col-5 col-mobile-12">
            <p class="fancy-text mb-5 mt-5">
                Perfect place to prepare yourself for <br /> <strong>exam</strong>, <strong>interview</strong> or <strong>quiz night</strong>!
            </p>
            <h1 class="hero-text mb-5 mt-5">
                CREATE OWN <span>FLASHCARD <br /> SET</span> IN FEW MINUTES
            </h1>
            <a class="btn btn-primary self-end mb-5 mt-5" href="">
                CREATE FIRST FLASHCARD SET
            </a>
        </div>
        <div class="col-7 col-mobile-12">
            <img src="../../assets/images/undraw_choose-card_es1o.svg" alt="">
        </div>
    </div>
</div>