<div class="container hero">
    <div class="row align-items-center">
        <div class="col-5 col-mobile-12">
            <p class="fancy-text mb-5 mt-5">
                Perfect place to prepare yourself for <br /> <strong>exam</strong>, <strong>interview</strong> or <strong>quiz night</strong>!
            </p>
            <h1 class="hero-text mb-5 mt-5">
                CREATE OWN <span>FLASHCARD <br /> SET</span> IN FEW MINUTES
            </h1>
            <a class="btn btn-primary self-end mb-5 mt-5" href="/my-sets">
                CREATE FIRST FLASHCARD SET
            </a>
        </div>
        <div class="col-7 col-mobile-12">
            <img src="../../assets/images/undraw_choose-card_es1o.svg" alt="">
        </div>
    </div>
</div>

<div class="container mt-100">
    <div class="row justify-center">
        <h2 class="text-uppercase text-center">How to create <strong>flashcard</strong> Set?</h2>
    </div>
    <div class="row">
        <div class="col-2 col-mobile-6">
            <div class="text-icon">
                <p>Create an <br /> account</p>
                <mat-icon>login</mat-icon>
            </div>
        </div>
        <div class="col-1 hidden-mobile"> <mat-icon class="arrow">arrow_right_alt</mat-icon></div>
        <div class="col-2 col-mobile-6">
            <div class="text-icon special">
                <p>Prepare <br /> your Set</p>
                <mat-icon>style</mat-icon>
            </div>
        </div>
        <div class="col-1 hidden-mobile"> <mat-icon class="arrow">arrow_right_alt</mat-icon></div>
        <div class="col-2 col-mobile-6">
            <div class="text-icon">
                <p>Challenge <br /> yourself</p>
                <mat-icon>school</mat-icon>
            </div>
        </div>
        <div class="col-1 hidden-mobile"> <mat-icon class="arrow">arrow_right_alt</mat-icon></div>
        <div class="col-2 col-mobile-6">
            <div class="text-icon">
                <p>Repeat<br /><br /></p>
                <mat-icon>replay</mat-icon>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="text-center">
                Creating a <strong>flashcard set</strong> is a simple and effective way to boost your <strong>learning and retention</strong>. Start by choosing a topic or subject you want to study. Use a user-friendly platform to add terms and their corresponding definitions, questions and answers, or any custom content. Organize your <strong>flashcards</strong> into categories for better navigation and focus on the material. Many tools also allow you to customize your cards. Once your set is ready, you can review it anytime, share it with friends, or test your knowledge using built-in study modes like quizzes or games. Whether you're preparing for exams or just expanding your knowledge, <strong>flashcardss</strong> are a proven way to <u>learn smarter, not harder</u>.
            </p>
        </div>
    </div>
</div>